// Default Theme
// This is the theme the app starts on.
.theme-default{
    .chatmessage{
        padding: 0% 0% 2% 0%;
        margin: 0% 0% 2% 0%;
        border-bottom: 1px dotted #ffffff;
        vertical-align:top;
        &:last-child{
            border-bottom:none;
        }
        .useravatar, .chatusername, .badge{
            display:inline-block;
        }
        .useravatar{
            width:50px;
            float:left;
            padding: 0px 10px 0px 0px;
            img{
                 width:100%;
            }
        }
        .chatusername{
            font-size:1.5em;
            font-weight:bold;
        }
    }
}