@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'font-awesome.min';
@import 'plugins';
@import 'global';
@import 'chat-styles';

// Login Page
.login{
    .main-content{
        text-align:center;
    }
    .streamer, .bot{
        margin:0% 5%;
        display:inline-block;
        vertical-align:top;
    }
    .streamer-avatar, .bot-avatar{
        border-radius:50%;
        padding:5px;
        border: 2px solid white;
        width:150px;
    }
    .loginOrOut button{
        padding:5%;
    }
    .botType{
        margin:2% 0% 0% 0%;
    }
}

.chat-wrap{
    position:relative;
    height:90vh;
    width:100vw;
    .chat{
        overflow:hidden;
        overflow-y:scroll;
        margin-bottom:50px;
        width:100%;
    }
    .input-container{
        textarea{
            width:100%;
            height:50px;
            box-sizing: border-box;
            position:fixed;
            bottom:0px;
            left:0px;
        }
    }
}
